<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547485923749-j44sorrutclqg7jd2cb56368uqlu4olb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547485923749-j44sorrutclqg7jd2cb56368uqlu4olb</string>
	<key>API_KEY</key>
	<string>AIzaSyCptFrK3j3Efw48_uoV0HrwoyhzyUl5ccI</string>
	<key>GCM_SENDER_ID</key>
	<string>547485923749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ginder-ios-ntust</string>
	<key>PROJECT_ID</key>
	<string>ios-ginder</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-ginder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547485923749:ios:11ecb9aa4c6ea3be0c104c</string>
	<key>DATABASE_URL</key>
	<string>https://ios-ginder.firebaseio.com</string>
</dict>
</plist>