<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730453959128-asl8405ib9mfth5qdfovvv081uelt85d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730453959128-asl8405ib9mfth5qdfovvv081uelt85d</string>
	<key>API_KEY</key>
	<string>AIzaSyAcsCs_3HNJjDYiJJY0TS9uQltLlSaDOt8</string>
	<key>GCM_SENDER_ID</key>
	<string>730453959128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NTUST.IOS-Project-OnlineDating</string>
	<key>PROJECT_ID</key>
	<string>teddyonlinedating</string>
	<key>STORAGE_BUCKET</key>
	<string>teddyonlinedating.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730453959128:ios:7aabcabaef3119ecb512ad</string>
	<key>DATABASE_URL</key>
	<string>https://teddyonlinedating.firebaseio.com</string>
</dict>
</plist>